/* #id::-webkit-scrollbar-thumb
.class::-webkit-scrollbar-thumb */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1440px;
    margin: 0 auto;
    background-color: #bebebe;
}

body {  
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 14px;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 25px;
}

body::-webkit-scrollbar-track {
  background-color: #77e968;
}

body::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: linear-gradient(to top, #38a0c9, #10242c);  
  border: 3px solid red;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #38a0c9, #10242c);
}

body::-webkit-scrollbar-button {
  background: url(3.jpg) no-repeat center;
  background-size: contain;
  height: 25px;
}

article {
  font-size: 20px;
  line-height: 1.5;
}

hr {
  margin: 30px;
}

.menu-link {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  font-size: 25px;
}

.menu-block li:last-child {
  margin-right: 0;
}

.menu-block {
  margin-bottom: 20px;
}